.idea
*.iml
*.pyc
dist
build
MANIFEST
mongo-connector.log
oplog.timestamp
mappings.json
mappings_bak.json
run-db.sh
.*.swp
publish.sh
reset.sh
config.json
pg-mongo-connector.log*
.DS_Store
venv
.eggs
mongo_connector_postgresql.egg-info
.coverage
htmlcov
